body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body * {
  margin: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#home, #about, #projects, #contact {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

#home {
  background-color: #202535;
  justify-content: center;
}

.greeting {
  position: fixed;
  color: white;
  font-size: 50px;
  text-align: center;
}

.greeting p {
  position: relative;
}

.greeting span {
  color: #ff0082;
}

#about {
  background-color:  #e5e7e9 ;
}

#about h1 {
  color: #498ebe;
  margin-top: 5vh;
}

.bio-pic-container {
  height: 110px;
  width: 220px;
  border-radius: 110px 110px 0px 0px;
  background-color: white;
  margin-top: 3vh;
  box-shadow: 0 2px 4px 0 rgb(190, 190, 210); 
}

.bio-pic {
  position: absolute; /* z-index only works on positioned items */
  height: 208px;
  width: 208px;
  border-radius: 50%;
  margin-top: 6px;
  margin-left: 6px;
}

.bio-container {
  min-height: 450px;
  width: 620px;
  max-width: 98%;
  padding: 120px 40px 40px 45px;
  margin-bottom: 40px;
  border-radius: 10px;
  background-color: white;
  overflow: scroll;
  box-shadow: 0 2px 3px 0 rgb(200, 200, 220); 
}

.bio-container * {
  color: #606060;
  font-size: 17px;
  line-height: 1.3;
  margin-bottom: 13px;
}

#projects {
  background-color:  #5499c7 ;
}

#projects h1 {
  color: white;
  margin-top: 7vh;
}

.project-container {
  width: 100%;
  max-width: 1110px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-top: 4vh;
  margin-bottom: 2vh;
}

.project-card {
  width: 340px;
  min-height: 540px;
  margin: 15px;
  border-radius: 3px;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgb(34, 103, 159);
}

#contact {
  background-color:  #154360 ;
}

#contact h1 {
  color: white;
  margin-top: 10vh;
}

.contact-form * {
  display: block;
  width: 480px;
  line-height: 35px;
  border: none;
  border-radius: 2px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: #dbdbdb;
  background-color: #002e4a;
  margin-bottom: 4px;
}

.contact-err {
  display: none;
  background-color: #154360;
  color: rgb(255, 20, 40);
  font-size: 16px;
}

.contact-sent-notice {
  display: none;
  background-color: #154360;
  font-size: 16px;
}

.contact-form-name {
  margin-top: 8vh;

}

.contact-form-btn {
  width: 150px;
}

.contact-form-btn:hover {
  cursor: pointer;
  text-shadow: 0 0 8px rgba(255, 255, 255, .7);
  background-color: #05334f;
}

.nav-toggle {
  position: fixed;
  top: 27px;
  left: 25px;
  height: 40px;
  width: 40px;
  border: 3px solid rgba(255, 255, 255, .4);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, .05);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-toggle:hover {
  cursor: pointer;
  box-shadow: 0 0 5px 1px rgba(255, 255, 255, .8);
}

.nav-icon {
  height: 30px;
  width: 30px;
  filter: invert(100%) opacity(40%); 
}

.nav-collapsible {
  position: fixed;
  height: 60vh;
  width: 100%;
  background-color: #f5b041;
  z-index: 1;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: stretch;
}

.nav-collapsible div {
  color: inherit;
}

.nav-cancel {
  flex-grow: 0;
  text-align: left;
  font-size: 7vh;
  line-height: 7vh;
  margin-left: 16px;
  opacity: 0.8;
}

.nav-cancel-hover:hover, .nav-option:hover {
  cursor: pointer;
  text-shadow: 0 0 8px rgba(255, 255, 255, .7);
}

.nav-option {
  flex-grow: 2;
  text-align: center;
  font-size: 7vh;
}

@media only screen and (max-width: 480px) {
  .nav-toggle {
    top: 16px;
    left: 15px;
  }

  .greeting {
    font-size: 28px;
  }

  .bio-container {
    padding: 120px 20px 20px 20px;
    margin-bottom: 30px;
  }
  
  .bio-container * {
    font-size: 18px;
  }

  .contact-form * {
    width: 300px;
    font-size: 18px;
  }

  .contact-sent-notice, .contact-err {
    font-size: 16px;
  }

  .contact-form-btn {
    width: 150px;
    font-size: 16px;
  }
}

